---
import RootLayout from '@/layouts/RootLayout.astro'
---

<RootLayout>
  <main class="flex flex-col w-screen h-screen justify-center items-center">
    <div
      class="bg-paper bg-cover bg-center filter brightness-125 w-full h-full flex flex-col items-center justify-center"
    >
      <h1 class="bold700 text-5xl text-center animate-pulse">
        Work In Progress ...
      </h1>
    </div>
  </main>
</RootLayout>
